
    <div class="outer-modal">
        <div class="inner-modal">
            <div class="modal-header row">
                <div class="col-11">Modal title</div>
                <div class="col-1">
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
            </div>

            <form id="purchase-form"> <!-- Begin form -->
                <div class="modal-body row">
                    <p id="purchase-detail" class="col-12"></p>

                    <!-- Field : user name -->
                    <div class="form-group col-12">
                        <label for="user-name" class="required">Votre nom :</label>
                        <input type="text" id="user-name" class="form-control" name="user-name">
                    </div>

                    <!-- Field : user-email -->
                    <div class="form-group col-12">
                        <label for="user-email" class="required">Votre email :</label>
                        <input type="email" id="user-email" class="form-control" name="user-email">
                    </div>

                    <!-- Validate CGV -->
                    <div class="custom-control custom-switch col-12">
                        <input type="checkbox" class="custom-control-input" id="cgv-validation">
                        <label class="custom-control-label" for="cgv-validation">J'accepte les Conditions Générales de Vente</label>
                    </div>                  
                </div>

                <div class="modal-footer row">
                    
                    <button class="btn btn-default close" type="button" role="cancel">
                        Non merci !
                    </button>

                    <button class="btn btn-success" disabled type="submit">
                        Got it !
                    </button>
                </div>
            </form> <!-- End form -->
        </div>
    </div>
