/**
* modal
*   Design of modal boxes
**/

@import './../../../scss/variables.scss';
@import './../../../scss/mixins.scss';
div {
    &.outer-modal {
        // <=> div.outer-modal
        @include outer;
        background-color: rgba($modal_background_color, 30%);
        .inner-modal {
            @include vertical-centered;
            margin: 0 auto;
            background-color: lighten($modal_background_color, 50);
        }
    }
}