/**
* Usefull functions
**/

@mixin outer {
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
}

@mixin vertical-centered {
    position: relative;
    top: 50%;
    transform: translateY(-50%);
}