/**
* variables
* @author Aélion
* @version 1.0.0
**/

@import url('https://fonts.googleapis.com/css?family=Lato&display=swap');
$main_font_color: rgb(10,
9,
10);
$toolbar_color: #2d6355;
$toolbar_button_color: #121e4d;
$tile_background_color: #caa48e;
$main_font_family: Lato;